@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poiret One";
  src: url("./assets/fonts/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-background: #ffffff;
  --color-background-secondary: #f2f2f2;
  --color-foreground: #101011;

  --color-primary: #47ccf5;
  --color-complementary: #96a3a2;

  --color-red: #df6255;
  --color-red-hover: #e23724;
  --color-red-disabled: #f5c6cb;

  --color-green: #38c974;
  --color-green-hover: rgb(38, 197, 104);
  --color-green-disabled: rgb(75, 196, 125);

  --color-success-text: #155724;

  --color-error-text: #78281f;

  /* --shadow-light: 0 2px 8px -1px hsla(0, 0%, 100%, 0.08);
  --shadow-dark: 0 4px 12px -2px hsla(0, 0%, 0%, 0.25); */

  --toastify-toast-bd-radius: 0.25rem;
}

@theme inline {
  --color-background: var(--color-background);
  --color-background-secondary: var(--color-background-secondary);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-complementary: var(--color-complementary);

  --color-red: var(--color-red);
  --color-red-hover: var(--color-red-hover);
  --color-red-disabled: var(--color-red-disabled);
  --color-error-text: var(--color-error-text);

  --color-green: var(--color-green);
  --color-green-hover: var(--color-green-hover);
  --color-green-disabled: var(--color-green-disabled);

  --font-sans: var(--font-sans);

  --ease-kinetic: cubic-bezier(0.43, 0.24, 0.45, 1.06);

  --breakpoint-xs: 24rem;

  --breakpoint-6xl: 75rem;
  --breakpoint-7xl: 85rem;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 300;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-poiret: "Poiret One", sans-serif;
}

@layer utilities {
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes loading-bar-appear {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes searchBarAppear {
    from {
      opacity: 0;
      transform: translateY(-1rem);
      width: 24rem;
    }
    to {
      opacity: 1;
      transform: translateY(-1rem);
      width: 100%;
    }
  }

  @keyframes fadeInFromTop {
    from {
      opacity: 0;
      transform: translateY(-1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInFromBottom {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-1rem);
    }
  }

  .bg-red {
    @apply bg-red;
    @apply hover:bg-red-hover;
    @apply disabled:bg-red-disabled;
    @apply disabled:text-error-text;
  }

  .bg-green {
    @apply bg-green;
    @apply hover:bg-green-hover;
    @apply disabled:bg-green-disabled;
  }

  .appear {
    animation: appear 200ms var(--ease-kinetic) forwards;
  }

  .appear-slow {
    animation: loading-bar-appear 400ms var(--ease-kinetic) forwards;
  }

  .search-bar-appear {
    animation: searchBarAppear 200ms var(--ease-kinetic) forwards;
  }

  .fade-in-top {
    animation: fadeInFromTop 200ms var(--ease-kinetic) forwards;
  }

  .fade-in-bottom {
    animation: fadeInFromBottom 200ms var(--ease-kinetic) forwards;
  }

  .fade-out {
    animation: fadeOut 200ms var(--ease-kinetic) forwards;
  }

  .center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}

@layer components {
  .text-primary-gradient {
    @apply bg-gradient-to-tr from-primary via-blue-300 to-primary bg-clip-text text-transparent!;
  }
  .hover\:text-primary-gradient:hover {
    @apply bg-gradient-to-tr from-primary via-blue-300 to-primary bg-clip-text text-transparent!;
  }

  .transition-smooth {
    @apply transition duration-200 ease-in-out;
  }

  .button {
    @apply bg-gray-50 shadow-sm px-4 py-2 font-semibold text-gray-700 transition duration-300 ease-in-out rounded;
  }
  .button:hover {
    @apply bg-gray-100;
  }
  .button:disabled {
    @apply opacity-75 hover:brightness-100 hover:shadow-sm;
  }

  .button-primary {
    @apply bg-gradient-to-tr from-primary via-blue-300 to-primary shadow-sm px-4 py-2 font-semibold text-white transition duration-300 ease-in-out rounded;
  }
  .button-primary:hover {
    @apply brightness-105;
  }
  .button-primary:disabled {
    @apply opacity-75 hover:brightness-100 hover:shadow-sm;
  }

  .text-link {
    @apply text-blue-400 transition duration-300 ease-in-out;
  }
  .text-link:hover {
    @apply text-blue-300;
  }

  .link {
    @apply text-foreground bg-transparent transition duration-300 ease-in-out px-3 py-2 block cursor-pointer rounded shadow-none font-light text-nowrap;
  }
  .link:hover {
    @apply cursor-pointer opacity-80 shadow-none;
  }

  .icon {
    @apply w-6 h-6 inline-block align-middle select-none transition duration-200 ease-in-out text-foreground;
  }

  .icon-small {
    @apply w-4.5 h-4.5 inline-block align-middle select-none transition duration-200 ease-in-out text-foreground;
  }

  .bg-primary-gradient {
    @apply bg-gradient-to-tr from-primary via-blue-300 to-primary;
  }
}

@keyframes fastSlideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fastSlideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.fastSlideIn {
  animation-name: fastSlideIn;
  animation-duration: 200ms;
  animation-fill-mode: both;
}

.fastSlideOut {
  animation-name: fastSlideOut;
  animation-duration: 200ms;
  animation-fill-mode: both;
}
